@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <div class="row center">
        <fieldset>  
            <legend>Faça upload da sua image (somente PNG)</legend>  
    
            @Html.Label("Nome da imagem:")  
            @Html.TextBox("imageName")<br />        
            @Html.Label("Descriçao da imagem:")  
            @Html.TextArea("imageDescription")<br />

            Upload de Imagem: <input type="file" name="chosenImage" /> <br/>
            <span class="field-validation-valid text-danger" 
                        data-valmsg-for="chosenImage" 
                        data-valmsg-replace="true">Nes</span><br/>
            <p>  
                <input type="submit" value="Upload" />                
            </p>
        </fieldset> 
    </div>    
}
